In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use("default")

In [24]:
df = pd.read_csv("C:\\Users\\usdas\\Desktop\\DEVANSHI ALLLLL\\PROJECTS\\climate_disease_project\\data\\raw\\climate_disease_dataset.csv")

df.head()

,year,month,country,region,avg_temp_c,precipitation_mm,air_quality_index,uv_index,malaria_cases,dengue_cases,population_density,healthcare_budget
0,2000,1,Palestinian Territory,Central,28.132468,152.083870,110.487231,12.000000,53,145,113,1068
1,2000,2,Palestinian Territory,Central,30.886500,119.591418,83.467928,12.000000,132,48,113,1068
2,2000,3,Palestinian Territory,Central,31.366433,95.876124,93.095292,12.000000,34,80,113,1068
3,2000,4,Palestinian Territory,Central,28.481870,175.315731,105.530192,9.395894,23,133,113,1068
4,2000,5,Palestinian Territory,Central,26.890370,191.445990,60.205979,9.935726,39,74,113,1068

In [25]:
df.shape

(34560, 12)

In [26]:
df.columns

Index(['year', 'month', 'country', 'region', 'avg_temp_c', 'precipitation_mm',
       'air_quality_index', 'uv_index', 'malaria_cases', 'dengue_cases',
       'population_density', 'healthcare_budget'],
      dtype='object')

In [27]:
df.dtypes

year                    int64
month                   int64
country                object
region                 object
avg_temp_c            float64
precipitation_mm      float64
air_quality_index     float64
uv_index              float64
malaria_cases           int64
dengue_cases            int64
population_density      int64
healthcare_budget       int64
dtype: object

In [28]:
df.isnull().sum()

year                  0
month                 0
country               0
region                0
avg_temp_c            0
precipitation_mm      0
air_quality_index     0
uv_index              0
malaria_cases         0
dengue_cases          0
population_density    0
healthcare_budget     0
dtype: int64

In [29]:
def get_season(month):
    if month in [12, 1, 2]:
        return "Winter"
    elif month in [3, 4, 5]:
        return "Summer"
    elif month in [6, 7, 8]:
        return "Monsoon"
    else:
        return "Autumn"

df["season"] = df["month"].apply(get_season)

df.head()

,year,month,country,region,avg_temp_c,precipitation_mm,air_quality_index,uv_index,malaria_cases,dengue_cases,population_density,healthcare_budget,season
0,2000,1,Palestinian Territory,Central,28.132468,152.083870,110.487231,12.000000,53,145,113,1068,Winter
1,2000,2,Palestinian Territory,Central,30.886500,119.591418,83.467928,12.000000,132,48,113,1068,Winter
2,2000,3,Palestinian Territory,Central,31.366433,95.876124,93.095292,12.000000,34,80,113,1068,Summer
3,2000,4,Palestinian Territory,Central,28.481870,175.315731,105.530192,9.395894,23,133,113,1068,Summer
4,2000,5,Palestinian Territory,Central,26.890370,191.445990,60.205979,9.935726,39,74,113,1068,Summer

In [30]:
df = df.sort_values(["region", "year", "month"])

df["malaria_lag_1"] = df.groupby("region")["malaria_cases"].shift(1)
df["malaria_lag_3"] = df.groupby("region")["malaria_cases"].shift(3)

df.dropna(inplace=True)

In [31]:
threshold = df["malaria_cases"].quantile(0.85)
df["outbreak_flag"] = (df["malaria_cases"] > threshold).astype(int)

In [32]:
df.to_csv("../data/processed/advanced_cleaned_data.csv", index=False)